h3,
h4,
p,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: whitesmoke;
  border: none;
}

.link {
  color: rgb(20 161 255);
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: whitesmoke;
  background-color: black;
}

#root {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  object-position: center;
  object-fit: cover;
}

#root {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrapper-border {
  background-color: rgb(0 0 0);
  border: 1px solid rgb(27 27 27);
  box-shadow: 0 0 30px rgb(12 12 12 / 54.1%);
}

.page {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 90%;
  height: max-content;
}

.tweet-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(106 145 168 / 37.4%);
  z-index: 3;
}

.edit-profile-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(106 145 168 / 37.4%);
  z-index: 3;
}

.tweet-page-form {
  margin: 0 auto;
  margin-top: 60px;
  padding: 10px 10px 10px 0px;
  max-width: 600px;
  min-height: 280px;
  background-color: black;
  border-radius: 20px;
}

.tweet-page-tweet-form {
  margin-left: 30px;
}

.load-spinner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-name {
  font-size: 18px;
}

@media (width <= 825px) {
  .page {
    width: 90%;
  }
}

@media (width <= 620px) {
}

@media (width <= 550px) {
  .page {
    width: 100%;
  }
}
