@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  min-width: 50%;
  width: 50%;
  min-height: 100vh;
  border-left: 0.1px solid rgb(174 174 174 / 31.2%);
  border-right: 0.1px solid rgb(174 174 174 / 31.2%);
}

.main {
  width: 100%;
  height: max-content;
  margin: 0 auto;
}

.main-search-block {
  width: 100%;
  min-width: 280px;
  height: 53px;
  min-width: 250px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.main-search-form-explore {
  width: 81%;
  height: 42px;
  margin-left: 17px;
  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(128 128 128 / 34.7%);
}

.main-search-form-home {
  width: 100%;
  min-width: 250px;
  height: 90%;
  margin-left: 17px;
  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
}

.main-search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-search-form-input {
  width: 100%;
}

.main-input {
  width: 90%;
  border: none;
  height: 18px;
  margin-left: 15px;
  background: transparent;
  color: aliceblue;
}

.main-input::placeholder {
  font-size: 15px;
}

.active-search-input {
  border: 1px solid rgb(16 144 230);
}

.main-search-list-found-message {
  margin-top: 13px;
  margin-left: 10px;
  font-size: 16px;
}

.main-search-wrapper-found-users {
  position: relative;
  margin-top: 5px;
  margin-left: 5px;
  min-height: 50px;
  max-height: 130px;
  overflow: scroll;
  padding-left: 10px;
  padding-left: 10px;
  border: 0.1px solid rgb(88 88 88);
  box-shadow: 0 0 5px rgb(245 245 245 / 54.1%);
  border-radius: 10px;
  background-color: black;
  z-index: 3;
}

.main-search-list-found-users {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

.main-search-found-list-user {
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.main-search-found-list-user img {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 30px;
}

.main-input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.main-search-icon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
}

.main-search-block-button-return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 12px;
  border-radius: 20px;
  cursor: pointer;
}

.main-search-block-button-return:hover {
  background-color: rgb(128 128 128 / 34.7%);
}

.main-search-block-button-return img {
  width: 18px;
  height: 18px;
}

.main-button-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-left: 35px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.section {
  margin: 0 auto;
  min-height: 280px;
  min-width: 295px;
  height: max-content;
  padding-bottom: 5px;
}

.section-public-page {
  padding-left: 20px;
  padding-right: 20px;
}

.section-background {
  background-color: rgb(43 44 49 / 53%);
}

.section-whoyouread-hint-about-lack-section {
  margin-top: 20px;
  color: rgb(113, 118, 123);
}

.happen-home {
  margin-top: 20px;
  padding-top: 1px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

.main-line {
  width: 100%;
  margin-top: 3px;
  border-bottom: 0.1px solid rgb(174 174 174 / 31.2%);
}

.main-section-name {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
}

.main-trends-item {
  width: 100%;
  min-height: 60px;
  max-height: max-content;
  margin-top: 20px;
  display: flex;
  margin-bottom: 12px;
  cursor: pointer;
  position: relative;
}

.trends-item {
  width: 100%;
}

.trends-item-title,
.trends-item-footer {
  font-size: 13px;
  color: rgb(113 118 123);
}

.trends-item-body {
  word-wrap: break-word;
  margin-top: 2px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
}

.dotmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  width: 35px;
  height: 35px;
}

.dotmenu-icon {
  height: 19px;
  width: 19px;
}

.dotmenu:hover {
  background-color: rgb(128 128 128 / 34.7%);
}

.main-stiky-panel {
  position: sticky;
  top: 0;
  background-color: #000000d4;
}

.explore-page-stiky-panel {
  padding-top: 20px;
  height: 50px;
}

.main-content-block {
  width: 100%;
  min-width: 350px;
  height: max-content;
  margin: 0 auto;
}

.main-content-button-panel {
  display: flex;
  margin: 0;
}

.wrapper-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.main-button-whoyouread,
.main-button-foryou {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  color: aliceblue;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: #0000003d;
}

.main-content-likes-button-onpanel,
.main-content-media-button-onpanel,
.main-content-answers-button-onpanel,
.main-content-tweets-button-onpanel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  color: aliceblue;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-bottom: 3px solid rgba(1, 1, 1, 0);
  border-radius: 1px;
}

.main-content-button-panel button:active {
  border: none;
}

.wrapper-button:hover {
  background-color: rgb(128 128 128 / 20.6%);
}

.active-button-panel {
  border-bottom: 3px solid rgb(16 144 230);
}

.main-button-notactive {
  height: 3px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.main-button-active {
  height: 3px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(16 144 230);
}

.trends-home {
  padding-top: 1px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

.popup-emoji {
  position: absolute;
  margin-left: 40px;
}

.popup-emoji div {
  background-color: black;
}

.main-page-name-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.main-page-name {
  margin-left: 10px;
}

.main-page-name h2 {
  margin: 0;
  font-size: 20px;
}

.main-page-name p {
  color: rgb(113, 118, 123);
  font-size: 14px;
}

.content-block {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
}

.content-block-comment {
  padding-top: 10px;
}

.messages-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messages-welcome-desc {
  width: 70%;
}

.messages-welcome-desc h2 {
  margin-top: 20px;
  font-size: 30px;
}

.messages-welcome-desc p {
  margin-top: 20px;
  font-size: 20px;
  color: rgb(113, 118, 123);
}

.messages-button-write {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 230px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  cursor: pointer;
  background-color: #1d9bf0;
  border: none;
}

.messages-button-write span {
  font-size: 17px;
  font-weight: 800;
  margin: 0 auto;
  color: aliceblue;
}

.messages-button-write:hover {
  background-color: #1d9cf0e8;
}

.mobile-logo,
.mobile-button-main-settings {
  display: none;
}

.button-user-profile {
  display: none;
}

@media (width <= 1245px) {
  .main-wrapper {
    width: 90%;
    min-width: 605px;
  }
}

@media (width <= 990px) {
  .main-wrapper {
    min-width: 375px;
  }
}

@media (width <= 550px) {
  .main-search-form-explore {
    width: 100%;
    margin-left: 0px;
  }
  .menu {
    display: none;
  }

  .main-button-settings {
    display: none;
  }

  .mobile-logo,
  .mobile-button-main-settings {
    display: block;
  }

  .button-user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    margin-left: 5px;
    margin-right: 10px;
  }

  .button-user-profile:hover {
    border-radius: 30px;
    background-color: rgb(128 128 128 / 34.7%);
  }

  .mobile-logo {
    width: 50px;
    height: 30px;
  }

  .logo-icon {
    margin: 0;
    height: 25px;
    width: 25px;
  }

  .main-search-block {
    margin: 0 auto;
    width: 92%;
  }

  .mobile-button-main-settings {
    margin-left: 10px;
  }

  .main-wrapper {
    min-width: 100%;
    margin-bottom: 50px;
    margin-left: 0;
    border: none;
  }

  .main-search-form {
    margin: 0;
    height: 30px;
    margin-top: 6px;
    width: 95%;
  }

  .main-content-button-panel button {
    width: 100%;
    height: 53px;
  }

  .main-content-block-mobile {
    display: none;
  }

  .user-info {
    margin-left: 5px;
  }
}
