.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  border-radius: 30px;
  cursor: pointer;
}

.logo:hover {
  background-color: rgb(128 128 128 / 34.7%);
}

.mobile-logo,
.mobile-button-main-settings {
  display: none;
}

.logo-icon {
  height: 25px;
  width: 30px;
}

.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0.1px solid white;
  background-color: #1d9bf0;
  color: white;
  width: 85px;
  height: 36px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 700;
  margin-right: 12px;
}

.button-singup {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 85px;
  height: 36px;
  color: #000;
  border-radius: 30px;
  border: 0.1px solid white;
  background-color: white;
  font-size: 17px;
  font-weight: 700;
}

.button-login:hover {
  background-color: #3ea9f1;
}

.button-singup:hover {
  background-color: rgb(240 240 240);
}

.close-icon {
  width: 20px;
  height: 20px;
}

.button-close {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.tooltip-delete-tweet {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  margin-left: -95px;
  padding-left: 10px;
  width: 120px;
  height: 50px;
  position: absolute;
  border: 0.1px solid rgb(88 88 88);
  box-shadow: 0 0 3px rgb(245 245 245 / 54.1%);
  border-radius: 5px;
  background-color: black;
}

.tooltip-trend {
  display: flex;
  align-items: center;
  margin-left: -250px;
  width: 90%;
  height: 60px;
  position: absolute;
  border: 0.1px solid rgb(88 88 88);
  box-shadow: 0 0 3px rgb(245 245 245 / 54.1%);
  border-radius: 15px;
  background-color: black;
}

.button-notinteresting-trend {
  border: none;
  font-size: 15px;
  padding-left: 15px;
  color: aliceblue;
  background-color: #000;
  cursor: pointer;
}

.button-notinteresting-trend-text {
  display: flex;
  align-items: center;
}

.sad-smile-icon {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

.button-delete-tweet {
  display: flex;
  align-items: center;
  border: none;
  font-size: 15px;
  color: #de0000;
  background-color: #000;
  cursor: pointer;
}

.button-delete-tweet:hover {
  color: #de0000ca;
}

.button-delete-tweet span {
  margin-top: 2px;
}

.button-dotmenu-tweet {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}

.dotmenu-icon {
  width: 15px;
  height: 15px;
}

.wrapper-tooltip-notauth-user {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #6473827e;
}

.tooltip-notauth-user {
  width: 600px;
  height: 400px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tooltip-notauth-user-header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.tooltip-notauth-user-text {
  width: 78%;
}

.tooltip-notauth-user-text h2 {
  font-size: 30px;
  margin-top: 20px;
  color: aliceblue;
}

.tooltip-notauth-user-text p {
  margin-top: 25px;
  width: 80%;
  font-size: 15px;
  color: gray;
}

.tooltip-notauth-user-button-login,
.tooltip-notauth-user-button-signup {
  width: 80%;
  height: 50px;
  margin-top: 20px;
  border-radius: 30px;
  border: 0.1px solid rgb(174 174 174 / 55.8%);
  color: rgb(255 255 255);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.tooltip-notauth-user-button-login {
  background-color: #1d9bf0;
  color: rgb(255 255 255);
}

.tooltip-notauth-user-button-signup {
  background-color: rgb(0 0 0);
  color: #1d9bf0;
}

.tooltip-notauth-user-button-login:hover {
  background-color: #1883cb;
}

.tooltip-notauth-user-button-signup:hover {
  background-color: rgb(1 18 43 / 71.7%);
}

.tooltip-notauth-user-img {
  width: 60px;
  height: 60px;
}

.wrapper-message-on-window {
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  height: 30px;
  width: 250px;
  border-radius: 2px;
  background-color: #1d9bf0;
  border: 1px solid #1d9bf0;
  box-shadow: 0 0 30px rgb(12 12 12 / 54.1%);
}

.message-on-window {
  position: fixed;
  margin: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.error-message {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-page {
  border: none;
}

@media (width <= 700px) {
  .button-login,
  .button-singup {
    width: 100%;
    min-width: 80px;
  }
}

@media (width <= 550px) {
  .button-login,
  .button-singup {
    width: 40%;
  }

  .button-main-settings {
    margin: 0;
  }
}
