.twit-form {
  display: flex;
  letter-spacing: 0.5px;
  width: 100%;
  height: max-content;
}

.wrapper-twit-form-img {
  width: 100%;
  height: 100%;
}

.twit-form-button-delete {
  position: absolute;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-left: 5px;
  margin-top: 15px;
  background-color: #424242c1;
  cursor: pointer;
}

.twit-form-button-delete:hover {
  background-color: #828282;
}

.twit-form h2 {
  margin: 0;
}

.twit-form-page-twit {
  position: absolute;
}

.twit-form-input {
  width: 70%;
  height: 80px;
  margin-left: 33px;
}

.twit-input-text {
  width: 100%;
  height: 100%;
  margin: 0px 5px 10px 10px;
  background-color: black;
  color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  padding-left: 5px;
  border: none;
  outline: none;
  resize: none;
}

.twit-input-text::placeholder {
  font-size: 20px;
}

.twit-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-top: 10px;
  height: 60px;
  border-top: 0.1px solid rgb(174 174 174 / 55.8%);
}

.twit-panel-button-tweet {
  width: 100px;
  height: 36px;
  margin-right: 30px;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 15px;
  cursor: pointer;
  background-color: #1d9bf0;
}

.twit-panel-img {
  display: flex;
  align-items: center;
  height: 100%;
  width: 110px;
}

#input-file {
  display: none;
}

.twits {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.twit-hint-about-retwit {
  width: 200px;
  height: 20px;
  margin-top: 5px;
  margin-left: 30px;
}

.twit-hint-about-retwit-img-text {
  display: flex;
  align-items: center;
  width: max-content;
  cursor: pointer;
}

.twit-hint-about-retwit-img-text:hover {
  text-decoration: underline;
  text-decoration-color: rgb(113, 118, 123);
}

.twit-hint-about-retwit-img {
  width: 18px;
  height: 18px;
}

.twit-hint-about-retwit-text {
  color: rgb(113, 118, 123);
  font-size: 12px;
  margin-left: 6px;
  font-weight: 700;
}

.twit {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 630px;
  padding: 0px 10px 0px 10px;
}

.twit-hint-about-lack-twits {
  width: 100%;
  margin-left: 46%;
  color: gray;
}

.twits-button-show-more {
  width: 100%;
  height: 40px;
  font-size: 12px;
  color: gray;
  background-color: black;
  border: none;
  text-decoration-line: underline;
}

.twits-button-show-more:hover {
  color: rgb(16 144 230);
  cursor: pointer;
}

.twit-form-input-file img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.twit-form-emoji {
  margin-left: 10px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.twit-user-name-block {
  display: flex;
  align-items: center;
}

.twit-user-name-block p {
  margin-top: 5px;
}

.profile-name {
  color: rgb(113, 118, 123);
  font-size: 14px;
}

.twit-date {
  margin-left: 5px;
  color: rgb(113, 118, 123);
  font-size: 13px;
}

.twit-user-name {
  width: max-content;
  font-size: 18px;
  margin-top: 3px;
  margin-right: 5px;
  cursor: pointer;
}

.twit-text {
  width: 500px;
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  white-space: pre-wrap;
}

.wrapper-twit-one-img,
.wrapper-two-imgs,
.wrapper-three-imgs,
.wrapper-four-imgs,
.wrapper-twit-imgs {
  display: flex;
  flex-wrap: wrap;
  max-width: 504px;
  height: max-content;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 22px;
  border: 2px solid rgba(38, 38, 38, 0.681);
}

.wrapper-two-imgs div:nth-child(1) {
  max-width: 250px;
  max-height: 280px;
}

.wrapper-two-imgs div:nth-child(2) {
  max-width: 250px;
  max-height: 280px;
}

.wrapper-three-imgs div:nth-child(1) {
  max-width: 250px;
  max-height: 200px;
}

.wrapper-three-imgs div:nth-child(2) {
  max-width: 250px;
  max-height: 200px;
}

.wrapper-three-imgs div:nth-child(3) {
  max-width: 100%;
  max-height: 200px;
}

.wrapper-four-imgs div:nth-child(1) {
  max-width: 250px;
  max-height: 200px;
}

.wrapper-four-imgs div:nth-child(2) {
  max-width: 250px;
  max-height: 200px;
}

.wrapper-four-imgs div:nth-child(3) {
  max-width: 250px;
  max-height: 200px;
}

.wrapper-four-imgs div:nth-child(4) {
  max-width: 250px;
  max-height: 200px;
}

/* .max-size-img {
  max-width: 250px;
  max-height: 200px;
} */

.wrapper-twit-img {
  width: 100%;
  height: auto;
  /* min-height: 200px; */
  margin: 1px 1px 1px 1px;
}

.twit-form-img {
  margin: 0 auto;
  width: 100%;
}

.twit-img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-position: center;
  object-fit: cover;
  background-color: rgba(51, 51, 51, 0.56);
}

.twit .twit-desc {
  align-self: center;
}

.twit-desc {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  /* align-items: center; */
  width: max-content;
}

.preview-user-twit-wrapper {
  position: relative;
  margin-left: -80px;
  z-index: 4;
  width: 250px;
  padding: 10px 0px 10px 0px;
  background-color: #000;
  border-radius: 20px;
  border: 0.1px solid rgb(88 88 88);
  box-shadow: 0 0 5px rgb(245 245 245 / 54.1%);
}

.preview-user-header {
  display: flex;
  justify-content: space-between;
}

.preview-user {
  margin-top: 10px;
  margin-left: 20px;
}

.preview-user-name {
  margin-left: 5px;
  margin-top: 5px;
}

.preview-user-about {
  margin-top: 10px;
  margin-left: 5px;
  max-width: 190px;
  word-wrap: break-word;
}

.preview-user-follow-info {
  display: flex;
  margin-top: 10px;
  width: 200px;
  color: rgb(113, 118, 123);
  font-size: 14px;
}

.preview-user-count-follow {
  margin-left: 5px;
  margin-right: 5px;
  color: aliceblue;
  width: 10px;
}

.delete-icon {
  width: 20px;
  height: 15px;
  margin-right: 5px;
}

.message-page-delete-twit {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(106, 145, 168, 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-delete-twit {
  padding: 35px 25px 25px 25px;
  padding: 25px;
  max-width: 250px;
  min-height: 200px;
  background-color: black;
  border-radius: 20px;
}

.message-delete-twit-title {
  font-weight: 700;
  font-size: 25px;
}

.message-delete-twit-text {
  margin-top: 10px;
  color: rgb(113, 118, 123);
  font-size: 15px;
}

.message-delete-twit-buttons {
  display: flex;
  flex-direction: column;
}

.message-delete-twit-button {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  border-radius: 30px;
  color: aliceblue;
  border: none;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
}

.button-delete {
  background-color: #de0000;
}

.button-delete:hover {
  background-color: #de0000ce;
}

.button-cancel {
  background-color: #000;
  border: 1px solid rgb(110 110 110);
}

.button-cancel:hover {
  background-color: #1c1c1c;
}

.user-block-twit {
  display: flex;
  margin-top: 10px;
  min-height: max-content;
  width: 100%;
}

.twit-user-name-and-content {
  margin-left: 10px;
  width: 510px;
}

.twit-user-name-and-data {
  display: flex;
}

.user-info {
  display: flex;
}

.user-info-photo {
  width: 43px;
  height: 43px;
  margin-top: 2px;
  border-radius: 30px;
  background-color: rgba(51, 51, 51, 0.56);
  cursor: pointer;
}

.preview-user-photo {
  width: 48px;
  height: 48px;
}

.user-info-photo img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.dot-twit {
  width: 5px;
  height: 5px;
  align-self: center;
  margin-top: 8px;
}

.twit-data {
  margin-left: 5px;
  margin-top: 8px;
  align-self: center;
  font-size: 12px;
  color: rgb(113, 118, 123);
}

.user-block-comment {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: max-content;
  width: 100%;
}

.twit-fotrm-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px 10px;
  min-height: max-content;
  width: 100%;
}

@media (width <= 1476px) {
  .max-size-img {
    max-width: 220px;
    max-height: 260px;
  }
}

@media (width <= 1350px) {
  .max-size-img {
    max-width: 200px;
    max-height: 240px;
  }
}

@media (width <= 1245px) {
  .max-size-img {
    max-width: 240px;
    max-height: 280px;
  }
}

@media (width <= 1145px) {
  .max-size-img {
    max-width: 220px;
    max-height: 260px;
  }
}

@media (width <= 990px) {
  .max-size-img {
    max-width: 240px;
    max-height: 280px;
  }
}

@media (width <= 865px) {
  .twit-text {
    width: 440px;
  }
}

@media (width <= 840px) {
  .twit-text {
    width: 400px;
  }

  .max-size-img {
    max-width: 230px;
    max-height: 250px;
  }
}

@media (width <= 820px) {
  .max-size-img {
    max-width: 220px;
    max-height: 240px;
  }
}

@media (width <= 740px) {
  .twit-text {
    width: 350px;
  }
}

@media (width <= 700px) {
  .twit-text {
    width: 330px;
  }
}

@media (width <= 650px) {
  .twit-text {
    width: 310px;
  }
}

@media (width <= 620px) {
  .twit-text {
    width: 290px;
  }
}

@media (width <= 590px) {
  .max-size-img {
    max-width: 150px;
    max-height: 170px;
  }
}

@media (width <= 570px) {
  .max-size-img {
    max-width: 140px;
    max-height: 170px;
  }
}

@media (width <= 550px) {
  .twit-text {
    font-size: 15px;
    width: 280px;
  }

  .max-size-img {
    max-width: 190px;
    max-height: 210px;
  }
}

@media (width <= 505px) {
  .max-size-img {
    max-width: 160px;
    max-height: 180px;
  }
}

@media (width <= 760px) {
  .wrapper-twit-one-img,
  .wrapper-two-imgs,
  .wrapper-three-imgs,
  .wrapper-four-imgs,
  .wrapper-twit-imgs {
    max-height: 180px;
    max-width: 400px;
  }

  .wrapper-two-imgs div:nth-child(1) {
    max-width: 198px;
    max-height: 100%;
  }

  .wrapper-two-imgs div:nth-child(2) {
    max-width: 198px;
    max-height: 100%;
  }

  .wrapper-three-imgs div:nth-child(1) {
    max-width: 198px;
    max-height: 90px;
  }

  .wrapper-three-imgs div:nth-child(2) {
    max-width: 198px;
    max-height: 90px;
  }

  .wrapper-three-imgs div:nth-child(3) {
    max-width: 100%;
    max-height: 90px;
  }

  .wrapper-four-imgs div:nth-child(1),
  .wrapper-four-imgs div:nth-child(2),
  .wrapper-four-imgs div:nth-child(3),
  .wrapper-four-imgs div:nth-child(4) {
    max-width: 198px;
    max-height: 90px;
  }
}

@media (width <= 640px) {
  .wrapper-twit-one-img,
  .wrapper-two-imgs,
  .wrapper-three-imgs,
  .wrapper-four-imgs,
  .wrapper-twit-imgs {
    max-height: 180px;
    max-width: 300px;
  }

  .wrapper-two-imgs div:nth-child(1) {
    max-width: 148px;
    max-height: 100%;
  }

  .wrapper-two-imgs div:nth-child(2) {
    max-width: 148px;
    max-height: 100%;
  }

  .wrapper-three-imgs div:nth-child(1) {
    max-width: 148px;
    max-height: 90px;
  }

  .wrapper-three-imgs div:nth-child(2) {
    max-width: 148px;
    max-height: 90px;
  }

  .wrapper-three-imgs div:nth-child(3) {
    max-width: 100%;
    max-height: 90px;
  }

  .wrapper-four-imgs div:nth-child(1),
  .wrapper-four-imgs div:nth-child(2),
  .wrapper-four-imgs div:nth-child(3),
  .wrapper-four-imgs div:nth-child(4) {
    max-width: 148px;
    max-height: 90px;
  }
}

@media (width <= 420px) {
  .twit-user-name-and-content {
    width: 290px;
  }

  .wrapper-twit-one-img,
  .wrapper-two-imgs,
  .wrapper-three-imgs,
  .wrapper-four-imgs,
  .wrapper-twit-imgs {
    max-height: 180px;
    max-width: 285px;
  }

  .wrapper-two-imgs div:nth-child(1) {
    max-width: 140px;
    max-height: 100%;
  }

  .wrapper-two-imgs div:nth-child(2) {
    max-width: 140px;
    max-height: 100%;
  }

  .wrapper-three-imgs div:nth-child(1) {
    max-width: 140px;
    max-height: 90px;
  }

  .wrapper-three-imgs div:nth-child(2) {
    max-width: 140px;
    max-height: 90px;
  }

  .wrapper-three-imgs div:nth-child(3) {
    max-width: 100%;
    max-height: 90px;
  }

  .wrapper-four-imgs div:nth-child(1),
  .wrapper-four-imgs div:nth-child(2),
  .wrapper-four-imgs div:nth-child(3),
  .wrapper-four-imgs div:nth-child(4) {
    max-width: 140px;
    max-height: 90px;
  }

  .dotmenu {
    width: 20px;
    height: 20px;
    margin-left: -10px;
  }

  .dotmenu-icon {
    width: 12px;
    height: 12px;
  }
}
