@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

/* page create comment for twit */

.comment-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgb(106 145 168 / 37.4%);
}

.comment-form {
  height: max-content;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px 0px 20px 0px;
  width: 600px;
  min-height: 350px;
  max-height: max-content;
  background-color: black;
  border-radius: 20px;
}

.comment-form-info {
  display: flex;
  height: 100%;
}

.comment-user-info {
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}

.comment-user-info img {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.comment-text-info {
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}

.twit-comment {
  width: 470px;
  margin-top: 10px;
  min-height: 100px;
  max-height: max-content;
  color: aliceblue;
}

.twit-comment-info-user-and-date {
  display: flex;
}

.twit-comment-info-user-and-date h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.create-date-twit {
  margin-top: 2px;
  margin-left: 5px;
  font-size: 15px;
  color: grey;
}

.twit-comment-text {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 20px;
  letter-spacing: 0.6px;
  font-size: 15px;
  white-space: pre-wrap;
}

.comment-form-input {
  width: 467px;
  height: max-content;
  margin-top: 20px;
  font-size: 17px;
  color: aliceblue;
  caret-color: aliceblue;
  border: none;
  resize: none;
  background-color: black;
}

.comment-form-input::placeholder {
  font-size: 20px;
}

.comment-form-input:focus {
  border: none;
}

.comment-twit-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 470px;
  margin-left: 110px;
  height: 48px;
}

.comment-twit-panel button {
  margin-top: 10px;
  width: 100px;
  height: 36px;
  margin-right: 10px;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 15px;
  cursor: pointer;
  background-color: #1d9bf0;
}

.comment-line {
  margin: 0 auto;
  width: 1px;
  min-height: 60px;
  height: 100%;
  border-left: 2px solid rgb(174 174 174 / 55.8%);
}

.connection-twit-comment-photo {
  display: flex;
  flex-direction: column;
}

.connection-twit-comment-text {
  display: flex;
  align-items: flex-end;
  min-height: 80px;
  /* height: 81%; */
}

.comment-form-input div {
  background-color: black;
}

.react-input-emoji--input {
  color: aliceblue;
}

.react-emoji-picker--wrapper {
  top: 0;
  margin-top: 50px;
}

.comment-form-input button svg {
  fill: #626262;
  width: 15px;
  height: 15px;
}
