@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nobile:wght@400;500;700&display=swap");

.body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
  padding: 0;
  left: 0;
  top: 0;
  background-color: black;
  display: flex;
  align-items: center;
}

.background-auth-page {
  width: 58%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-auth-page img {
  cursor: pointer;
  width: 300px;
  height: 300px;
}

.right-side-bar {
  height: 100%;
  width: 42%;
  padding: 130px 10px 0px 80px;
}

.auth-page-button-panel {
  margin-top: 20px;
  height: 500px;
  width: 350px;
}

.right-side-bar h1 {
  font-family: "Nobile", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  font-size: 60px;
}

.right-side-bar h3 {
  font-family: "Nobile", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-top: 60px;
  font-size: 35px;
}

.button-create-account-hint {
  margin-top: 10px;
  color: rgb(113, 118, 123);
  font-size: 12px;
}

.auth-page-button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid rgb(174 174 174 / 55.8%);
  font-size: 15px;
  font-weight: 600;
}

.button-create-account {
  background-color: #1d9bf0;
  color: aliceblue;
}

.button-create-account:hover {
  background-color: #1c8bd5;
}

.auth-page-button-panel-hint {
  margin: 50px 0px 0px 0px;
  font-family: "Nobile", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.button-sign-in {
  background-color: black;
  color: #1d9bf0;
}

.button-sign-in:hover {
  background-color: rgb(27, 27, 27);
}

.background-auth-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(29, 57, 73, 0.52);
}

.form-wrapper {
  margin: 0 auto;
  margin-top: 40px;
  height: 680px;
  width: 600px;
  border-radius: 15px;
  background-color: rgb(0 0 0);
}

.login-form-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form-main {
  padding-left: 118px;
  padding-right: 118px;
  padding-bottom: 70px;
}

.password-form-main {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 70px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.logo-icon-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 55%;
  height: 35px;
}

.button-close:hover {
  background-color: rgb(128 128 128 / 34.7%);
}

.login-form-title {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  padding-top: 20px;
  width: 100%;
}

.password-form-title {
  padding-top: 10px;
}

.password-form-title h2,
.login-form-title h2 {
  font-size: 35px;
}

.login-form-button {
  width: 80%;
  height: 38px;
  margin-top: 30px;
  border-radius: 30px;
  background-color: rgb(255 255 255 / 97%);
  border: none;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
  color: black;
}

.button-google {
  font-weight: normal;
}

.all-line {
  display: flex;
  height: 30px;
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 35px;
}

.block-input {
  width: 100%;
  height: 56px;
  border: 2px solid rgb(59 204 244);
  border-radius: 5px;
}

.email-error {
  border: 2px solid rgb(255, 0, 0);
}

.login {
  width: 80%;
}

.hint {
  align-self: flex-start;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
  color: rgb(59 204 244);
}

.email-error-hint {
  color: rgb(255, 0, 0);
}

.label-input-login {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-items: center;
}

.input-form-email {
  width: 90%;
  height: 20px;
  caret-color: black;
  color: black;
}

.input-form-password {
  border: none;
  margin-top: 2px;
  width: 94%;
  height: 20px;
  background-color: #17181b;
  caret-color: aliceblue;
  color: aliceblue;
}

.login-form-footer {
  margin-top: 52px;
  font-size: 15px;
  color: rgb(221 221 221 / 81.3%);
}

.login-form-button-singup {
  font-size: 15px;
  color: rgb(221 221 221 / 81.3%);
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

.login-form-button-singup:hover {
  color: rgb(59 204 244);
}

.login-form-password-title {
  color: whitesmoke;
  padding-top: 20px;
}

.login-form-password-title h2 {
  margin: 0;
  font-size: 35px;
}

.input-password {
  border: 0.1px solid rgb(174 174 174 / 55.8%);
}

.input-password input:focus {
  border: 2px solid rgb(59 204 244);
}

.password-form-hint {
  align-self: flex-start;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
  color: rgba(197, 197, 197, 0.874);
}

.password-form-forgot-password {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 3px;
  color: rgb(59 204 244);
}

.password-form-notactive-input {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  height: 55px;
  color: rgba(176, 176, 176, 0.88);
  margin-top: 30px;
  margin-bottom: 25px;
  background-color: rgb(54 54 54 / 37.4%);
  border: 0.1px solid rgb(71 71 71 / 46.2%);
  border-radius: 5px;
  cursor: default;
}

.password-form-notactive-input-email {
  font-size: 20px;
}

.password-form-email-hint {
  margin-top: 5px;
}

.password-form-button {
  margin-top: 200px;
  width: 100%;
  height: 50px;
}

.input-form {
  width: 93%;
}

.password-form-button button {
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.password-form-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 100px;
  font-size: 15px;
  color: rgb(221 221 221 / 81.3%);
}

/* signUpForm */

.signup-form-main {
  height: 90%;
  padding: 0px 80px 10px 80px;
  letter-spacing: 0.5px;
}

.signup-form-main h2 {
  margin: 0;
  font-size: 35px;
}

.signup-form-input {
  border-radius: 5px;
  border: 1px solid rgb(174 174 174 / 55.8%);
  height: 56px;
  margin-top: 30px;
  cursor: text;
}

.signup-input-active {
  border: 1px solid rgb(59 179 244);
}

.signup-input-error {
  border: 1px solid rgb(244, 59, 59);
}

.signup-notactive-input {
  margin-left: 5px;
  margin-top: 15px;
  font-size: 20px;
  color: rgb(113, 118, 123);
  cursor: text;
}

.signup-header-active-input {
  width: 425px;
  position: absolute;
  animation-duration: 0.3s;
  animation-name: active-hint-signup-input;
  font-size: 12px;
  margin-top: 2px;
  margin-left: 5px;
  color: rgb(59 179 244);
}

@keyframes active-hint-signup-input {
  from {
    margin-top: 15px;
    font-size: 18px;
  }

  to {
    margin-top: 2px;
    font-size: 12px;
  }
}

.signup-header-active-input {
  display: flex;
  justify-content: space-between;
}

.signup-form-input input {
  margin-top: 2px;
  margin-left: 5px;
  height: 80%;
  width: 90%;
  font-size: 18px;
  color: aliceblue;
  border: none;
  background-color: black;
  caret-color: aliceblue;
}

.signup-birth {
  color: rgb(113, 118, 123);
  margin-top: 30px;
}

.signup-birth h4 {
  color: aliceblue;
}

.signup-birth-hint {
  margin-top: 10px;
  font: 1em sans-serif;
  font-size: 14px;
  color: rgb(113, 118, 123);
}

.signup-birth-form {
  margin-top: 20px;
}

.wrapper-birth-form {
  display: flex;
  justify-content: space-between;
}

.wrapper-select {
  height: 55px;
  width: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid rgb(174 174 174 / 55.8%);
}

.select-name {
  position: absolute;
  font-size: 10px;
  color: rgb(113, 118, 123);
  margin-left: 3px;
  margin-top: 2px;
}

.signup-birth-form-month,
.signup-birth-form-day,
.signup-birth-form-year {
  border: none;
  height: 100%;
  font-size: 17px;
  font-weight: bold;
  background-color: black;
  color: aliceblue;
  cursor: pointer;
}

.signup-birth-form-month {
  width: 95%;
}

.signup-birth-form-day {
  width: 95%;
  margin-right: 10px;
}

.signup-birth-form-year {
  width: 95%;
}

.signup-form-button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: rgb(176, 176, 176);
  border: 0.1px solid rgb(174 174 174 / 55.8%);
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.signup-form-button-active {
  background-color: aliceblue;
  cursor: pointer;
}

.signup-user-info {
  margin-top: 5px;
  font-size: 14px;
  margin-left: 5px;
  color: gray;
  cursor: text;
}

.signup-user-name,
.signup-user-email,
.signup-user-birthdate {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 18px;
  color: aliceblue;
  cursor: text;
}

.signup-form-hint-length {
  color: rgb(113, 118, 123);
  font-size: 11px;
  margin-left: 75%;
  margin-right: 3px;
  margin-top: 3px;
}

.signup-form-hint-login-error {
  color: rgb(255, 0, 0);
  font-size: 9px;
  margin-left: 10px;
  padding-top: 5px;
  height: 5px;
}

.password-form-error-message,
.login-form-error-message {
  color: rgb(255, 0, 0);
  font-size: 10px;
  margin-top: 5px;
  margin-left: 10px;
  height: 15px;
  width: 80%;
}

@media (width <= 550px) {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 330px;
  }

  .auth-page-button-panel {
    height: 100%;
    width: 80%;
  }

  .right-side-bar {
    height: 80%;
    width: 90%;
    padding: 0px 5px 15px 5px;
  }

  .password-form-main,
  .login-form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 0px 15px 0px 15px;
  }

  .right-side-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-side-bar h1 {
    font-size: 40px;
  }

  .right-side-bar h3 {
    font-size: 25px;
  }

  .background-auth-page {
    margin-top: 10px;
  }

  .signup-form-main {
    width: 90%;
    padding: 0px 15px 15px 15px;
  }

  .login-form {
    width: 100%;
    padding: 0px 15px 15px 15px;
  }

  .background-auth-page {
    display: none;
  }

  .login-form-footer {
    margin-top: 0px;
  }

  .login-form-password {
    width: 80%;
    height: 100%;
  }

  .password-form-title h2,
  .signup-form-main h2 {
    font-size: 28px;
  }

  .input-form-password {
    width: 90%;
  }

  .hint,
  .password-form-email-hint,
  .password-form-hint {
    font-size: 13px;
  }

  .password-form-button {
    margin-top: 20px;
  }

  .password-form-footer {
    justify-content: space-around;
  }

  .form-wrapper{
    border-radius: 0px;
  }

  .wrapper-border{
    border: none;
    box-shadow: none;
  }
}

@media (width <= 400px) {
  .signup-birth-form-month {
    width: 100px;
  }

  .signup-birth-form-year {
    width: 100px;
  }
}
